/* 1.Header */
.header_block {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #B4D3C5;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.header_block .header_block_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57.5px;
}
.header_block .header_block_wrapper .logo {
  font-size: 28px;
  font-family: "Roboto Slab", sans-serif;
  color: #fff;
}
.header_block .header_block_wrapper .logo_link {
  text-decoration: none;
}
.header_block .header_block_wrapper .logo_link:link, .header_block .header_block_wrapper .logo_link:visited {
  color: #fff;
}
.header_block .header_block_wrapper .logo_link:hover {
  color: #e7f5dc;
  cursor: pointer;
  transition: 0.2s;
}

.container {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}
@media (max-width: 1132px) {
  .container {
    max-width: 90%;
  }
}

/* 2.Nav */
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav_link {
  padding: 20px;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  transition: color 0.4s linear;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  transition: color 0.4s linear, background 0.4s linear, border 0.4s linear;
}
.nav_link:hover {
  color: #64ac8f;
  text-decoration: linear;
  background-color: #fff;
}
.nav_link:active {
  color: #fff;
  background-color: #64ac8f;
}
@media (max-width: 880px) {
  .nav {
    display: none;
  }
}

/* 3.Main */
/*1.First_list Main*/
.first_list {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}
.first_list_down_arrow {
  margin-top: 30vh;
}
.first_list_down_arrow .arrow_link {
  font-size: 40px;
  color: #64ac8f;
}
.first_list_down_arrow .arrow_link:active, .first_list_down_arrow .arrow_link:visited {
  color: #64ac8f;
}
.first_list_down_arrow .arrow_link:hover {
  opacity: 0.7;
}
.first_list .title {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
}
.first_list .title .head_title {
  font-size: 72px;
  color: #64ac8f;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  padding-top: 35%;
}
@media (max-width: 440px) {
  .first_list .title .head_title {
    font-size: 50px;
  }
}
.first_list .title .head_title_two {
  margin: 20px auto 100px;
  font-size: 60px;
  color: #64ac8f;
}
.first_list .title .head_title_two::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e7f5dc;
  margin: 40px auto;
}
.first_list .title .sign_up_button_container .button_link {
  border-radius: 15px;
  padding: 20px;
  background-color: #B4D3C5;
  color: #fff;
  font-size: 30px;
  font-family: "Roboto Slab", sans serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.4s linear, background 0.4s linear, border 0.4s linear;
}
.first_list .title .sign_up_button_container .button_link:hover {
  background-color: #64ac8f;
  color: #fff;
  text-decoration: linear;
}
.first_list_down_arrow i {
  font-size: 40px;
  color: #64ac8f;
  transition: 0.4s;
}
.first_list_down_arrow i:active, .first_list_down_arrow i:visited {
  color: #64ac8f;
}
.first_list_down_arrow i:hover {
  opacity: 0.7;
}

/* 2.second_list About us*/
.about_us {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.about_us .wrapper {
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about_us .wrapper .about_us_image {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
@media (max-width: 1030px) {
  .about_us .wrapper .about_us_image {
    display: none;
  }
}
.about_us .text_about_us {
  max-width: 613px;
  min-height: 570px;
  background-color: #B4D3C5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 60px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-weight: 400;
}
@media (max-width: 430px) {
  .about_us .text_about_us {
    font-size: 13px;
  }
}
.about_us .text_about_us h2 {
  margin: 0;
}
.about_us .text_about_us h2::after {
  background-color: #fff;
}

/*Section*/
.header {
  color: #64ac8f;
  font-size: 46px;
  font-family: "Roboto Slab", sans-serif;
  text-transform: uppercase;
}
.header::after {
  content: "";
  display: block;
  height: 5px;
  width: 90px;
  background-color: #e7f5dc;
  z-index: 1;
  margin: 15px auto;
}

.header_container {
  display: flex;
  justify-content: center;
}

.services_block {
  max-height: 200vh;
  margin-top: 80px;
}
@media (max-width: 750px) {
  .services_block {
    margin-top: 20px;
  }
}
.services_block .services_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.services_block .services_wrapper .services_header {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
.services_block .services_wrapper .services_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services_block .services_wrapper .services_card {
  border-radius: 15px;
  max-width: 30%;
  max-height: 370px;
  margin: 0 5px 10px;
  background-color: #D9E9E2;
}
.services_block .services_wrapper .services_card_img {
  width: 100%;
  max-height: 150px;
  margin: 0;
  padding-bottom: 0;
  border-radius: 15px 15px 0 0;
}
.services_block .services_wrapper .services_card_img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.services_block .services_wrapper .services_card_header {
  max-width: 375px;
  margin: 0;
  padding: 15px;
  text-align: left;
}
@media (max-width: 460px) {
  .services_block .services_wrapper .services_card_header {
    font-size: 18px;
  }
}
.services_block .services_wrapper .services_card_time {
  padding-left: 15px;
  font-size: 14px;
  opacity: 0.7;
}
.services_block .services_wrapper .services_card_text {
  max-width: 375px;
  margin: 0;
  padding: 15px;
  padding-bottom: 35px;
  font-weight: 400;
}
@media (max-width: 750px) {
  .services_block .services_wrapper .services_card {
    max-width: 45%;
  }
}

.galary_block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1607px) {
  .galary_block .galary_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1342px) {
  .galary_block .galary_wrapper .galary_carousel {
    max-width: 90%;
  }
}
@media (max-width: 922px) {
  .galary_block .galary_wrapper .galary_carousel {
    max-width: 100%;
  }
}
@media (max-width: 1607px), (max-width: 832px) {
  .galary_block .galary_wrapper .galary_carousel {
    max-width: 70%;
  }
}
.galary_block .galary_wrapper .galary_header {
  display: flex;
  justify-content: center;
}
.inst {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-right: 5px;
}

.fab {
  font-size: 40px;
  text-decoration: none;
  padding: 0 3px;
  margin: 0;
}

.text_galary {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 4.Footer */
.map_block {
  height: 100vh;
}
.map_block .map_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.map_block .map_wrapper .map_header {
  text-align: center;
  margin-top: 7vh;
}
.map_block .map_wrapper .map_contents {
  max-width: 90%;
  display: flex;
  justify-content: center;
}
.map_block .map_wrapper .map_contents iframe {
  max-height: 60vh;
}

.footer {
  padding: 20px 0;
  background-color: #B4D3C5;
}
.footer_container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_headers {
  font: "Roboto Slab";
  font-weight: 400;
  color: #64ac8f;
}
.footer_links {
  font-size: 17px;
  padding: 8px;
  margin: 0;
  color: #000;
  transition: color 0.4s linear, background 0.4s linear, border 0.4s linear;
}
.footer_links:hover {
  background-color: #64ac8f;
  color: #fff;
}
.footer_links:active {
  background-color: #fff;
  color: #fff;
}
.footer_brand_links {
  font-size: 25px;
  padding: 8px;
  margin: 0;
  color: #000;
  transition: color 0.4s linear, background 0.4s linear, border 0.4s linear;
}
.footer .fa-brands:hover {
  color: #64ac8f;
  transition: 0.4s;
}
.footer_informaiton {
  display: flex;
  flex-direction: column;
}
.footer_join_us {
  display: block;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
}

/* 5.Helpers */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup_content {
  background-color: #B4D3C5;
  color: #000;
  font-family: "Roboto Slab";
  max-width: 800px;
  padding: 30px;
  position: relative;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.popup_title {
  font-size: 40px;
  padding: 0 0 15px 0;
}

.popup_close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #000;
  transition: color 0.4s linear, background 0.4s linear, border 0.4s linear;
  padding: 0 5px;
}
.popup_close:hover {
  color: #ff0a0a;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup_content {
  transform: perspective(600px) translate(0px, 0) rotateX(0deg);
  opacity: 1;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
